/venv/
venv
venv/

.env

venv
bot.db

static
/static
/static/

.DS_Store
/.DS_Store
/.DS_Store/
.DS_Store/

/database

/data
/data/
data/

/test
/test/
test/

/__pycache__
/__pycache__/
__pycache__/

/server
/server/
server/
